USE [master]
GO
/****** Object:  Database [contactsDb]    Script Date: 9/19/2023 7:42:59 PM ******/
CREATE DATABASE [contactsDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'contactsDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DONGCHAU\MSSQL\DATA\contactsDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'contactsDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.DONGCHAU\MSSQL\DATA\contactsDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [contactsDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [contactsDb]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 9/19/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contacts]    Script Date: 9/19/2023 7:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
 CONSTRAINT [PK_Contacts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20230918122037_Initial', N'7.0.11')
GO
SET IDENTITY_INSERT [dbo].[Contacts] ON 

INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Phone], [Address]) VALUES (1, N'Rạng Đông', N'rangdong090302@gmail.com', N'0766837068', N'AGU')
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Phone], [Address]) VALUES (3, N'Thúy Vy', N'thuyvy040502@gmail.com', N'0366901380', N'AGU')
INSERT [dbo].[Contacts] ([Id], [Name], [Email], [Phone], [Address]) VALUES (4, N'Ngọc Nhi', N'ngocnhi@gmail.com', N'8888888888', N'AGU')
SET IDENTITY_INSERT [dbo].[Contacts] OFF
GO
USE [master]
GO
